<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board_project3_backend.repository.AttachmentMapper">
    <insert id="insertAttachments" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO attachments (post_id, original_name, stored_name, logical_path, physical_path, size)
        VALUES
        <foreach collection="attachments" item="attachment" separator=",">
            (#{attachment.postId}, #{attachment.originalName}, #{attachment.storedName},
            #{attachment.logicalPath}, #{attachment.physicalPath}, #{attachment.size})
        </foreach>
    </insert>

    <select id="getAttachmentsByPostId" resultType="Attachment">
        SELECT
            id,
            post_id AS postId,
            original_name AS originalName,
            stored_name AS storedName,
            logical_path AS logicalPath,
            physical_path AS physicalPath,
            size
        FROM attachments
        WHERE post_id = #{postId}
    </select>

    <select id="findOriginalFileNameByStoredName" resultType="String">
        SELECT original_name
        FROM attachments
        WHERE stored_name = #{storedName}
    </select>
</mapper>