<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board_project3_backend.repository.PostMapper">

    <select id="getPostList" resultType="Post">
        SELECT
            p.id,
            p.author,
            p.password,
            p.title,
            p.content,
            p.view_count AS viewCount,
            p.created_at AS createdAt,
            p.updated_at AS updatedAt,
            p.category_id AS categoryId,
            c.category_name AS categoryName,
            EXISTS (
                SELECT 1
                FROM attachments a
                WHERE a.post_id = p.id
            ) AS hasAttachments
        FROM posts p
                 LEFT JOIN categories c ON p.category_id = c.id
        ORDER BY p.created_at DESC
    </select>

    <insert id="insertPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (author, password, category_id, title, content, view_count, created_at, updated_at)
        VALUES (#{author}, #{password}, #{categoryId},#{title}, #{content}, #{viewCount}, NOW(), NOW())
    </insert>

    <select id="getPostById" resultType="Post">
        SELECT
            p.id,
            p.title,
            p.content,
            p.author,
            p.password,
            p.view_count AS viewCount,
            p.created_at AS createdAt,
            p.updated_at AS updatedAt,
            p.category_id AS categoryId,
            c.category_name AS categoryName,
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM attachments a
                    WHERE a.post_id = p.id
                ) THEN TRUE ELSE FALSE
                END AS hasAttachments
        FROM posts p
                 LEFT JOIN categories c ON p.category_id = c.id
        WHERE p.id = #{id}
    </select>


</mapper>
